.text{
      width:auto; margin-top:12px; 
      float:none; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
      font-size:40px; 
      color:#804040;
      line-height:25px;
      letter-spacing:1px



}